#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* align-items: flex-end; */
    /* align-items: center; */
    align-content: space-between;


}
h1{
    text-align: center;
}
#container div{
    height: 60px;
    width: 100px;
    text-align: center;
}