<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim sit perferendis debitis reprehenderit quasi quia nesciunt vitae eveniet ad voluptatem magnam, consectetur tempore harum hic alias adipisci aut animi culpa, nulla mollitia recusandae? Pariatur, repellat, architecto dolorum perspiciatis exercitationem cum eligendi molestiae corporis atque provident voluptatem tempora ullam itaque quisquam. Vero nam laborum inventore, consequatur autem rerum, veniam in, laboriosam nesciunt error earum eos quam tenetur? Ea placeat deleniti dolorum voluptatibus aliquam natus est facilis quis, cum qui perferendis quod expedita neque eaque dicta nobis rerum illo doloremque! Inventore cumque necessitatibus expedita vero, maiores placeat saepe in libero, ipsa labore recusandae deserunt esse impedit enim a pariatur officia, sapiente consequuntur aut! Ullam modi non alias reiciendis officiis molestiae vitae ipsa sequi quasi quaerat ex, provident aut pariatur sit quam aliquid iusto tenetur ut velit quis dicta vel neque? Cum tempore quos quaerat cumque explicabo autem assumenda distinctio exercitationem nulla est! Omnis minus fuga esse officiis, odio consequatur incidunt molestiae facilis eaque sint quas exercitationem praesentium quae natus soluta nobis rem sit quod sapiente assumenda, sed maiores laudantium, corrupti ratione? Quisquam quibusdam, itaque quis vitae rerum at ipsum commodi consectetur quasi nihil ut temporibus enim deleniti explicabo, ad quae dicta earum.
    <button>Like</button>
    <h3><%= 5+3%> </h3>
    
</body>
</html>
 <!-- passing data to ejs  -->