<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h1 class="head">Reserve <%= listing.title %></h1>

    <form action="/booking" method="post" novalidate class="needs-validation">
        
        <div class="mb-3">
          <label class="form-label">Hotel Name</label>
          <input type="text" name="hotelTitle" class="form-control" value="<%=listing.title%>" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input type="text" name="name" class="form-control" placeholder="Enter your name" required>
        </div>
      

      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" value="name@example.com" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="number" name="phoneNumber" class="form-control" value="9804005610">
      </div>

      <div class="mb-3">
        <label class="form-label">Date</label>
        <input type="date" name="date" class="form-control" value="<%= new Date().toISOString().split('T')[0] %>"  required>
      </div>

      <div class="row">
        <div class="mb-2 col-md-6">
          <label class="form-label">Time Slot From</label>
          <input type="time" name="startTime" class="form-control" value="09:00"required>
        </div>

        <div class="mb-4 col-md-6">
          <label class="form-label">Time Slot To</label>
          <input type="time" name="endTime" class="form-control" value="10:00" required>
        </div>
      </div>

      <button class="btn btn-success mb-3 book-btn">Confirm Booking</button>
    </form>
  </div>
</div>
