<% layout("./layouts/boilerplate") %>
<body>
    <ul>

   
        <form action="listings/new" method="get">
            <Button>Add Place</Button>
        </form>
        <% for(let listing of allListings){ %>

            <li> <a href="/listings/<%= listing._id%>"><%= listing.title %> </a> </li>
            <% } %>
        </ul>
</body>

