<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h1>Create New Listing</h1>
                <form action="/listings" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label"> Title</label>
                        <input type="text" name="listing[title]" placeholder="Add a catchy Title" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label" >Description</label>

                        <!-- <input type="text" name="listing[description]"placeholder="Enter the description" id="" class="form-control"> -->
                        <textarea name="listing[description]" id="" class="form-control"
                            placeholder="Enter Description " required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="listing[image.filename]" class="form-label">Image name</label>
                        <input type="text" name="listing[image.filename]" id="" class="form-control"
                            placeholder="Image Name" >
                    </div>

                    <div class="mb-3">
                        <label for="listing[image.url]" class="form-label">Image url</label>

                        <input type="text" name="listing[image.url]" id="" placeholder="Enter image url"
                            class="form-control">

                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="listing[price]" class="form-label"> Price</label>

                            <input type="number" name="listing[price]" id="" placeholder="&#8377;1200"
                                class="form-control"required>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="listing[country]" class="form-label">Country</label>
                            <input type="text" name="listing[country]" id="" placeholder="Nepal" class="form-control">

                        </div>

                    </div>
                    <div class="mb-3 ">
                        <label for="listing[location]" class="form-label">Location</label>

                        <input type="text" name="listing[location]" id="" placeholder="Biratnagar" class="form-control">
                    </div>


                    <div>

                        <button class="btn btn-dark mb-3 add-btn">Add Location</button>
                    </div>
                </form>
            </div>
        </div>