*{  
    /* Universal selector */
    font-family: 'Courier New';
}
/* Element Selector */
h1,h3{
    color: red;
}
 /* id selector  */
#login{
    background-color: white;

}
#signup{
    background-color: red;
    color: white;
}
/* Class Selector */
.upvote{
    background-color: green;
    color: aliceblue;
}