.container{
    height: 300px;
    width: 600px;
    background-color: azure;

    border: 2px solid black;
    display: grid;
}
.child{
    
    height: 50px;
    width: 100px;
    background-color: greenyellow;
    border: 2px solid black;
}

