<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Sender name  @<%= chat.from %></h1>
    <h1>Sender id @<%= chat._id %></h1>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="post" >
        <textarea name="message" id=""><%= chat.message %></textarea>
        <button>Edit Message</button>
    </form>


    
</body>
</html>