body{
    margin-left: 20px;
}
.chat{
    display: grid;
    background-color: aliceblue;
    display: inline-block;

    border-radius: 15px;
    padding: 20px;
}

.message{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;

}