body{
    text-align: center;
    background-color: aqua;
    /* color: black; */
}
.btn{
    height: 200px;
    width: 200px;
    border-radius:2rem;
    margin: 1.5rem;
    border: 0.5rem solid black;
   


    
}
.red{
    background-color:#d95980;
}
.yellow{
    background-color:#f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color:#819ff9;
}

.btn-container{
    display: flex;
    justify-content: center;
    
    text-align: center;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: greenyellow;
}