body{
    text-align: center;

    /* color: black; */
}
.btn{
    height: 200px;
    width: 200px;
    border-radius:2rem;
    margin: 1.5rem;
    border: 0.5rem solid black;
   


    
}
.red{
    background-color:#ff1500;
}
.yellow{
    background-color:#ffea37;
}
.green{
    background-color: #3edd4b;
}
.purple{
    background-color:	#4b3edd;
}

.btn-container{
    display: flex;
    justify-content: center;
    
    text-align: center;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: greenyellow;
}